
@media (max-width: 991.98px) {
    .rightheader {
      justify-content: center;
      color: aqua;
      margin-right: 60px;
    }
  }

  @media (max-width: 992px) {
    .navbar-collapse {
      justify-content: space-around;
      font-size: x-large;
    }

    .navbar-toggler{
      background: transparent;
      position: absolute;
      right: 10px;
      top: 10px;
  }}
