
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
    scroll-behavior: smooth;
   
}

*{
    
    margin: 0 px;
    padding:0 px;
    box-sizing: border-box;
}
/* <!--hi--> */
.header{
    background-image: url(/images/header-bg.png);
    background-size:cover;
    background-repeat: no-repeat; 
    background-position:center;
}
.navbar{
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing:1px;
      }
      
      .nav-link:hover {
        color:#59b616;
      }

.banner{
    height: 100vh;
    background-image:url(/images/banner-slide/Banner-1.jpg);
    background-size: cover;
    
}

.carousel-inner{
    height: 200px;
    width: 600px;
    background:transparent;
    color: red;
    top: 270px;
    left: 30px;
    font-family: fantasy;
    font-weight: 500;
}

.carousel-caption,.carousel-item{
    height: 50%;
    background-color:transparent;
    color: black;
}

      